.Editorial {
  height: 100%;
  width: 30%;
  border: 1px solid rgb(211, 211, 211);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  text-align: left;
}

.Editorial h2 {
  margin: 0;
  margin-top: 7%;
  margin-bottom: 10%;
  margin-left: 4%;
  width: 80%;
}
.Editorial p {
  margin-bottom: 2%;
  line-height: 1.5;
  margin: 0;
  margin-left: 4%;
  width: 80%;
}
.Editorial p:last-child {
  height: 35%;
}
.Editorial img {
  clip-path: inset(0 25% 0 25%);
  width: 160%;
  margin-bottom: 3%;
}
.Editorial a {
  margin-top: 15%;
  margin-left: 60%;
  color: black;
  font-weight: normal;
}
