.list {
  list-style-type: none;
  width: 20%;
}
.list ul {
  font-size: 1rem;
  cursor: pointer;
}
.list ul:hover {
  color: #c3071c;
}
.lastItem {
  font-weight: bold;
}
@media screen and (max-width: 1025px) {
  .list ul {
    font-size: 0.7rem;
  }
}
